<div class="card shadow-effect">
    <div class="card-b0dy">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <P class="m-auto subs-text">Lorem ipsum</P>
            <form action="" class="d-flex flex-row align-items-center flex-wrap">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <br>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>

                <div class="col-md-2">
                    <button  class="btn btn-info btn-block btn-sub">SUBSCRIBE</button> 
                </div>


            </form>

        </div>
    </div>
</div>
